body {
    font-family: "Lato", sans-serif;
    color: #3c4048;
}

.container {
    width: 640px;
    margin: 20px auto;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    padding: 20px;
    background-color: #f1f1f1;
}

h1 {
    font-weight: 700;
}

li {
    list-style: none;
}

p {
    margin: 0;
}

.main-temp-day {
    font-size: 46px;
}

.main-temp-night {
    font-size: 36px;
}

.icon {
    font-size: 50px;
    color: #979da8;
}

.current-city-weather {
    display: flex;
    flex-direction: column;
}

.current-city-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fahrenheit:hover,
.celsius:hover,
.fahrenheit-night:hover,
.celsius-night:hover {
    color: #159895;
    cursor: pointer;
}

.list-days {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 330px;
}

.next-day {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li:last-of-type {
    padding: 0;
}

.icon-current {
    font-size: 100px;
    color: #979da8;
}

.temperature-night {
    color: #b2b2b2;
}

.btn {
    background-color: #159895;
    border: none;
    width: 100px;
}

.btn:hover,
.btn:active,
.btn:focus {
    background-color: #00767c;
}

.main-temp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 28px 0;
}

.btn-current {
    margin-left: 8px;
    background-color: #1a5f7a;
    align-self: flex-end;
    height: 38px;
    width: 20%;
}

.btn-current:hover,
.btn-current:active,
.btn-current:focus {
    background-color: #144f66;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.search {
    display: flex;
}